.btn {
  max-width: fit-content;
  font-size: 16px;
  padding: 5px 10px;
  background: var(--wp-components-color-accent,var(--wp-admin-theme-color,#3858e9));
  color: #fff;

  &:hover {
    color: #fff;
    text-decoration: underline;
  }

  &__cta {
    padding: 12px 16px;
    background: #fff;
    border-radius: 12px;
    margin: 0 auto;
    color: #000;

    &:hover {
      color: #000;
      text-decoration: underline;
    }
  }
}