.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
    }
  }

  &__content {
    z-index: 10;
    position: relative;

    background: rgba(255, 255, 255, 0.8);
    padding: 40px;

    max-width: 100%;
    text-align: center;

  }

  &__edit {
    padding-bottom: 20px;
    border-bottom: 1px solid #000;

    &-input {
      border: 1px solid #000;
      padding: 10px;
      margin: 0;
    }

    &-label {
      font-weight: bold;
      font-size: 16px
    }

    &-image {
      max-height: 500px;
    }

    &-column {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

}