.swiper {
  width: 100%;
  height: 100%;

  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;

  &-slide {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 60px 20px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    height: auto !important;
  }

  &__slide-edit {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px 0;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
  }
}